:root {
  --small-title-size: ;
  --normal-title-size: ;
  --large-title-size: ;
  --small-large-text: ;
  --normal-large-text: ;
  --large-text: ;
  --ok-button-bg-color: ;
  --cancel-button-bg-color: ;
}

.green-ok-button {
  
}

.red-cancel-button {
  
}

.title--small {
  
}

.title--normal {
  
}

.title--large {
  
}