@import url("/style/reset.css");
@import url("/style/main_styles.css");
@import url("/style/media.css");

/*
font-family: 'Fira Code', monospace;
font-family: 'Roboto Condensed', sem serifa;
*/

:root {
  --m_header-bg-color: #1D99FF;
  --m_header-height: ;
  --m_content_box_bg_gradient: ;
  --m_content_box_bg_color: ;
  --m_footer-bg-gradient: ;
  --m_footer-bg-color: #000000;
  --m_footer-link-color: #6b6b65;
  --m_footer-text-color: #5b5b5b;
  --user-menu-color: #1C93F5FF;
  --user-button-text-color: #ffffff;
}

html {
  scroll-padding: var(--m_header-height);
}

body > main {
  margin-top: 5%;
}

.header__user_menu {
  position: absolute;
  top: 100%;
  right: 0;
  height: 100vh;
}

.header__user_menu__options_list {
  background-color: var(--user-menu-color);
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  height: auto;
  z-index: 0;
  width: 100%;
}

.header__user_menu li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
}

.header__user_menu__button {
  background: transparent;
  border: none;
  color: var(--user-button-text-color);
  font-family: 'Fira Code', monospace;
  color: #f0f0f0;
  font-size: 1em;
  font-weight: 450;
  letter-spacing: -1px;
  word-spacing: -4px;
  text-align: center;
  transition: background-color .25s;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__user_menu__button:hover {
  background-color: rgba(255,255,255,.25);
}

.header__user_menu__button:active {
  background-color: rgba(0,0,0,0.25);
}

.header__user_menu__button:focus {
  outline: none;
}

.m_header {
  background-color: var(--m_header-bg-color);
  box-shadow: 0 2px 4px var(--dark-shadow-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  position: fixed;
  left: 0;
  right: 0;
  top: -1px;
  width: 100%;
  max-width: 900px;
  
  z-index: 999;
}

.m_header > .logo {
  margin-left: 4%;
}

.m_content_box {
  max-width: 900px;
}

.m_footer {
  background-color: var(--m_footer-bg-color);
  font-family: 'Roboto Condensed', sem serifa;
  max-width: 900px;
  width: 100%;
}

.m_footer__list_link {
  display: flex;
  flex-direction: column;
  margin: 2% auto 2% auto;
  width: 100px;
}

.m_footer__link {
  color: var(--m_footer-link-color);
  font-size: 1em;
  text-decoration: none;
  transition: color .25s, text-decoration .35s;
}

.m_footer__link:active {
  color: var(--m_header-bg-color);
  font-size: .9em;
  text-decoration-color: var(--user-menu-color);
  text-decoration-line: overline;
}

.m_footer__link:hover {
  color: #fff;
  font-size: 1.1em;
  text-decoration-color: #f4f4f4;
  text-decoration-line: underline;
}

.m_footer__text {
  color: var(--m_footer-text-color);
  font: italic 300 .8em;
}