@import url("/style/main_styles.css");

:root {
  --m_header-bg-color: ;
  --m_content_box_bg_gradient: ;
  --m_content_box_bg_color: ;
}

.logo {
  
}

.header__customer_menu {
  
}

.header__customer_menu__option_list {
  
}

.m_header {
  
}

.m_content_box {
  
}

.content_box {
  
}

.m_footer {
  
}

.m_footer__list_link {
  
}

.m_footer__link {
  
}