* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
 width: 100%;
 position: relative;
}

a.green-ok-button, a.red-cancel-button {
  text-decoration: none;
}

button, a, select {
  cursor: pointer;
}

button {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}